/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    min-height: 100%; /* For at least Firefox */
    overflow: hidden;
    position: relative;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}


.cover-background {
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-size: 662px;
    text-shadow: none;
    margin: -435px 0 0 -213px;
}

/*
 * Stream markup
 */
#stream {
    background: #FAFAFA;
    text-shadow: none;
    color: #333;
}

#stream a {
    color: #333;
}

#stream .masthead-brand {

}

#stream .page {
    opacity:0;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0 0 17px 0;
    display: inline-block;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 0 #F1F1F1;
}

#stream .page img {
    width: 90px;
    height: 64px;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #F1F1F1;
    margin: 10px 12px 9px;
    background: #FAFAFA;
}

#stream .title {
    display: inline-block;
    line-height: 32px;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 15px;
    border-radius: 3px;
}

#stream .count {
    position: absolute;
    top: 26px;
    right: 13px;
    left: initial;
    z-index: 2;
    background: #000;
    border-radius: 3px;
    color: #fff;
}

#stream .masthead-nav {
    float: left;

}

#stream .masthead-nav li {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
    color: #CECECE;
    margin-right: 13px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

#stream .masthead-nav li:hover {
    border-color: #CECECE;
}

#stream .masthead-nav li.active {
    color: #333;
    border-color: #333;
}

.count {
    background: #FFF;
    border: 1px solid #F3F3F3;
    color: #6A7180;
    display: inline-block;
    font-size: 15px;
    height: auto;
    line-height: 31px;
    margin-left: 13px;
    min-width: 15px;
    padding: 0 11px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    border-radius: 2px;
    float: right;
    top: 25px;
    left: -11px;
}

.nub {
    height: 0;
    left: -6px;
    position: absolute;
    top: 11px;
    width: 5px;
    z-index: 2;
    display: none;
}

.nub s, .nub i {
    border-color: transparent #898f9c;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}

.nub i {
    border-right-color: #fff;
    left: 1px;
    top: -7px;
}

.cover-container.share {
    background:#fff;
    padding: 21px 0 13px;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #E6E6E6;
}

#use .add {
    text-shadow: none;
    text-align: left;
    padding: 15px 22px;
    font-size: 19px;
    margin-left: 63px;
}
#use .number {
    background:#fff;
    color:#333;
    width: 42px;
    height: 42px;
    border-radius: 23px;
    line-height: 42px;
    text-align: center;
    position: relative;
    left: -55px;
    top: 33px;
    font-size: 28px;
}

#use .cover-container {
    margin-top: -65px;
}


#stream .cover {
    margin-top: 25px;
    margin-bottom: 10px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: absolute;
        top: 0;
    }

    .mastfoot {
        position: fixed;
        bottom: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }

    #stream .cover {
        margin-top: 95px;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

#use pre {
    text-align: center;
    display: inline;
    padding: 10px 59px;
}
